<app-article-preview
  *ngFor="let article of results"
  [article]="article">
</app-article-preview>
<div class="app-article-preview"
     [hidden]="loading || results.length">
  No articles are here... yet.
</div>

<div [hidden]="total <= 1">
  <mat-progress-spinner *ngIf="loading"
                        [ngStyle]="{'position'  : 'absolute'}"
                        [attr.color]="'primary'"
                        [mode]="'indeterminate'"
                        [diameter]="40"
                        [strokeWidth]="2"></mat-progress-spinner>
  <nav>
    <mat-paginator [length]="total"
                   [pageSize]="10"
                   [pageSizeOptions]="[10, 25, 100]">
    </mat-paginator>
  </nav>
</div>

